---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Diagnostico from '../components/Diagnostico.astro';
import Solucion from '../components/Solucion.astro';
import Tecnologia from '../components/Tecnologia.astro';
import PlanAccion from '../components/PlanAccion.astro';
import Beneficios from '../components/Beneficios.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Rediba S.A. E.S.P. - Innovación al servicio de tu ciudad">
    <main>
        <Hero />
        <Diagnostico />
        <Solucion />
        <Tecnologia />
        <PlanAccion />
        <Beneficios />
    </main>
    <Footer />
</Layout>
